<!doctype html>
<html lang="en">
  <head>
    <title>{{ head_title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/custom.css">
  </head>
  <body>

    {% block page %}{% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/vendor.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>
